html {
    width: 100%;
}

body {
    display: block;
    background-color: rgb(134, 234, 204);
    height: 15%;
    width: 20%;
    padding: 100px 0;
    margin: auto;
}

#container {
    border-radius: 25px;
    padding: 30px 340px 100px 30px;
    background-color: white;
}