.hidden{
    display: none !important;
}

#whiteboard {
    border: solid 2px red;
    display: inline;
}

#controls {
    top: 0px;
    left: 0px;
}

#sketch {
    display: block;
}

#toggleControlsButton {
    display: block;
}

input {
    margin: 15px;
    display: inline-block;
    background-color: rgb(122, 226, 241);
}

table {
    border-collapse: collapse;
}

th {
    border-top: solid 10px black;
    margin: 0;
    padding: -10px;
    font-size: 150%;
    background: rgb(7,182,16);
}

td {
    text-align: center;
    background: rgb(71, 218, 145);
}