.hidden{
    display: none !important;
}

app {
    display: block;
}

body {
    margin: 0;
}

#whiteboard {
    position: relative;
    border: solid 2px red;
    display: inline-block;
    cursor: crosshair;
}

#controls {
    vertical-align: top;
    display: inline-block;
}

#sketch {
    display: inline-block;
}

#toggleControlsButton {
    font-family: script;
    font-size: 110%;
    margin: 0px;
    padding: 15px;
    border: none;
}

input {
    font-family: cursive;
    margin: 7px;
    display: inline-block;
    background-color: rgb(71, 218, 185);
    border: none;
    padding: 5px 10px;
}

input[type="range"] {
    padding: 0;
}

/*Remove blue bordering of selected input elements*/
input:focus, button:focus {
    outline: none;
}

table {
    position: relative;
    top: 0;
    left: 0;
    border-collapse: collapse;
}

th {
    font-family: cursive;
    border-top: solid 5px black;
    margin: -10px;
    padding: -10px;
    font-size: 150%;
    background: rgb(6,151,14);
}

td {
    text-align: center;
    background: rgb(71, 218, 145);
}

h3 {
    margin: 0px;
    padding: 5px;
}